@media (max-width: 1920px) {}

@media (max-width: 1680px) {
    .container {
        max-width: 1450px;
    }
    html{
        font-size: 53%;
    }

}

@media (max-width: 1440px) {
    .container {
        max-width: 1340px;
    }
    html{
        font-size: 47%;
    }

}

@media (max-width: 1366px) {
    .container {
        max-width: 1240px;
    }


}


@media (max-width: 1280px) {
    .container {
        max-width: 1140px;
    }
    html{
        font-size: 41.5%;
    }

}

@media (max-width: 1199px) {}

@media (max-width: 1080px) {
    .container {
        max-width: 100%;
    }
    .cus_nav_innr{
        padding-inline: 2rem;
    }
    .spcl_offr_txt {
        padding: 16rem;
    }
    .ftr_uppr{
        padding-inline: 2rem;
    }
    .abt_us_txt {
        padding: 16rem;
    }
}

@media (max-width: 1024px) {
    .spcl_offr_txt {
        padding: 14rem;
    }
    .abt_us_txt {
        padding: 14rem;
    }
}

@media (max-width: 991px) {
    .spcl_offr_txt {
        padding: 11rem;
    }
    .abt_us_txt {
        padding: 11rem;
    }
}

@media (max-width: 900px) {
    .abt_us_txt {
        padding: 9rem;
    }
    .spcl_offr_txt {
        padding: 9rem;
    }
    .navbar-nav li a{
        font-size: 2.8rem;
    }
    .bnr_content h1{
        font-size: 9rem;
    }
    .cmn_btn{
        font-size: 2.5rem;
    }
    .cmn_hdr h2{
        font-size: 7rem;
    }
    .cmn_hdr.lrg p {
        font-size: 2rem;
    }
    .abt_us_txt h2 {
        padding-bottom: 3rem;
    }
    .abt_us_btn {
        margin-top: 4rem;
    }
    .pplr_mnu_hdngs h2{
        font-size: 8.2rem;
    }
    .pplr_mnu_hdngs p {
        font-size: 2rem;
    }
    .cmn_pdding {
        padding: 8rem 0;
    }
    .pplr_mnu_rw {
        row-gap: 6rem;
        margin-top: 7.7rem;
    }
    .pplr_mnu_btn {
        margin-top: 7.5rem;
    }
    .pplr_mnu_img {
        margin-bottom: 2rem;
    }
    .pplr_mnu_txt h6 {
        padding-bottom: 2rem;
    }
    .plc_erth_innr p {
        font-size: 3.5rem;
        padding-top: 3rem;
    }
    .plc_erth_otr {
        padding: 20rem 0 14rem;
    }
    .spcl_offr_txt p {
        font-size: 2rem;
    }
    .spcl_offr_txt h2 {
        padding-bottom: 3rem;
    }
    .spcl_offr_btn {
        margin-top: 4rem;
    }
    .ordr_sec{
        padding: 14rem 0 10rem;
    }
    .ordr_txt p {
        font-size: 2rem;
        padding-top: 2.5rem;
    }
    .ordr_btn {
        margin-top: 4.5rem;
    }
    .cmn_hdr h6{
        font-size: 3rem;
    }
}

@media (max-width: 840px) {
    .spcl_offr_txt {
        padding: 5rem;
    }
    .abt_us_txt {
        padding: 5rem;
    }
    .scl_br_inr span svg {
        font-size: 2.8rem;
    }
    .scl_br_inr span a{
        width: 5.5rem;
        height: 5.5rem;
    }
}

@media (max-width: 768px) {
    .navbar-nav li a {
        font-size: 2.3rem;
    }
    .logo_area {
        width: 18.7rem;
        height: 3rem;
    }
    .cus_nav_outr {
        padding: 3.5rem 0px;
    }
}

@media (max-width: 767px) {



    /*  .cus_nav_innr {

        position: relative;

    }

    .hdr-btn {

        margin-right: 75px;
    }

    .cus_nav_outr .container {

        padding: 0;
    }

    .logo_area {

        padding-left: 20px;
    }

    .nav_area ul li {

        margin-right: 0;
    }

    .navbar-toggler-icon {

        margin-top: 6px;
    }

    */
    /* Navbar Collpase */

    .navbar-nav {
        background: rgba(187,79,57,0.7);
        padding: 15px 0;
        text-align: center;
    }

    .navbar-nav li {
        padding: 0px 0px;
    }

    .navbar-nav li a {
        font-size: 15px;
        padding: 10px 0px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        color: rgb(24, 0, 0);
    }


    ul.navbar-nav li a:hover:hover {
        background: transparent;
        color: #fff;
    }

    .navbar {
        position: static;
    }

    .navbar .navbar-toggler {
        position: absolute;
        right: 20px;
        border: none;
        outline: none;
        padding: 4px;
        border-radius: 0;
        top: 50%;
        -webkit-transform: translateY(-45%);
        -ms-transform: translateY(-45%);
        transform: translateY(-45%);
        background: transparent;
        border-radius: 50%;
        scroll-behavior: smooth;


    }

    .navbar .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(10,88, 202, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }

    .collapse:not(.show) {
        display: none;
    }

    .navbar-collapse {
        position: absolute;
        z-index: 9;
        left: 0;
        top: 66px;
        width: 100%;
        transition: 0.7s;
    }

    .navbar-expand-lg .navbar-nav .nav-link:hover {

        color: #fff;
    }


    /* Navbar Collapse End */
   
    /* For hamburger start */
    .hamburger-menu {
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
      .line-outr {
        gap: 0;
    }
    /* For hamburger end */

    .bnr_content{
        transform: none;
        position: static;
        padding: 5rem 0;
        text-align: center;
        background: rgb(24,0,0);
        animation-delay: 0.1s!important;
    }
    .bnr_otr .container{
        padding: 0;
    }
    .bnr_content h1 br{
        display: none;
    }
    .abt_us_innr{
        display: block;
        text-align: center;
    }
    .abt_us_txt{
        width: 100%;
    }
    .abt_us_img{
        width: 80%;
        margin: auto;
    }
    .abt_us_sec{
        padding: 7rem 0;
    }
    .plc_erth_txt h2 br{
        display: none;
    }
    .spcl_offr_inr{
        display: block;
        text-align: center;
    }
    .spcl_offr_txt{
        width: 100%;
    }
    .spcl_offr_img{
        width: 80%;
        margin: auto;
    }
    .spcl_offr_sec{
        padding-top: 7rem;
    }
    .ordr_txt p{
        width: 100%;
    }
    .ftr_uppr{
        text-align: center;
    }
    .ftr_mnu p{
        width: 100%;
    }
    .ftr_uppr .row{
        row-gap: 4rem;
    }
    .ftr_mnu h4{
        padding-bottom: 1rem;
    }
    .ftr_ul_mnu h6{
        padding-bottom: 1.5rem;
    }
    .abt_us_txt {
        padding: 0rem 2rem 6rem;
    }
    .spcl_offr_txt {
        padding: 6rem 2rem 6rem;
    }
}
@media (max-width: 667px) {
    .pplr_mnu_rw{
        display: block;
        text-align: center;
        margin-top: 3.7rem;
    }
    .pplr_mnu_prt {
        width: 100%;
    }
    .pplr_mnu_rw .pplr_mnu_prt{
        margin-bottom: 2rem;
    }
    .pplr_mnu_rw .pplr_mnu_prt:last-child{
        margin-bottom: 0;
    }
    .pplr_mnu_btn {
        margin-top: 3.5rem;
    }
}

@media (max-width: 600px) {
    .plc_erth_otr {
        padding: 15rem 0 9rem;
    }
}

@media (max-width: 575px) {
    .bnr_content h1{
        padding-bottom: 2rem;
        font-size: 8rem;
    }
    .bnr_content p{
        padding-bottom: 4.5rem;
        letter-spacing: 1.2rem;
    }
    .cmn_hdr h2 {
        font-size: 6.5rem;
    }
    .pplr_mnu_hdngs h2 {
        font-size: 7.2rem;
    }
    
}

@media (max-width: 484px) {
    .cmn_btn {
        font-size: 2rem;
    }
}

@media (max-width: 420px) {
    .bnr_content h1{
        font-size: 7rem;
    }
    .bnr_content p{
        letter-spacing: 1rem;
    }
    .cmn_hdr h2 {
        font-size: 6rem;
    }

    .pplr_mnu_hdngs h2 {
        font-size: 6.2rem;
    }
    .plc_erth_innr p {
        font-size: 2.5rem;
        padding-top: 2rem;
    }
    .plc_erth_otr {
        padding: 12rem 0 7rem;
    }
    .ordr_sec {
        padding: 10rem 0 6rem;
    }
}

@media (max-width: 414px) {}

@media (max-width: 384px) {
    .bnr_content h1 {
        font-size: 6.5rem;
    }
    .bnr_content p {
        letter-spacing: 0.8rem;
    }
    .navbar-nav li a {
        font-size: 14px;
        padding: 8px 0px;
    }
    .plc_erth_otr {
        padding: 9rem 0 5rem;
    }
}

@media (max-width: 375px) {}

@media (max-width: 360px) {
    .navbar-nav li a{
        padding: 7px 0;
    }
}